// textcolor
$clr-basic: #222B45;
$clr-basic200: #F7F9FC;
$clr-basic400: #E4E9F2;
$clr-Basic500: #C5CEE0;
$clr-basic600: #8F9BB3;
$clr-basic700: #2E3A59;
$clr-basic800: #222B45;
$clr-white: white;
$clr-brandyellow300: #FFEA88;
$clr-brandyellow500: #FFD339;
$clr-contentbtn: #E4E9F2;
$clr-hr: #EDF1F7;
$clr-ptext: #8F9BB3;
$clr-card: #F7F9FC;
$clr-brandyellow: #FFF9D7;
$clr-basic-yellow: #FFF2AF;
$clr-Basic700: #2E3A59;
$clr-bg: #E5E5E5;